@{
    ViewData["Title"] = "Inmobiliaria La Playa";
}

<h1> House Listings</h1>

<br />
<p><b>This is a Database management system for the Real Estate Administrators to update their listings via CRUD principles.</b></p>